#DS_Algo{
    font-family:sans-serif;
}
#DS_Algo li{
    list-style-type: none;
}

#DS_Algo a{
    text-decoration: none;
    color: #4682A9;
}

#DS_Algo span{
    color: grey;
    font-family: monospace,sans-serif
}