.NotesContainer{
    font-family:sans-serif;
}
.NotesContainer li{
    list-style-type: none;
}
.NotesContainer a{
    text-decoration: none;
    color: #4682A9;
}
.NotesContainer span{
    color: grey;
    font-family: monospace,sans-serif
}