body{
    background-color: #F6F4EB;
    font-family: sans-serif;
}

.page-container{
    position: relative;
    min-height: 95vh;
}

.content-container{
    margin: 70px 12.5% 20px 12.5%;
    padding-bottom: 8rem;
}


